@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.header {
    display: flex;
    border-bottom: 1px solid #000;
    padding: 10px 20px;
    font-size: 20px;
}

a {
    color: rebeccapurple;
    font-weight: 700;
    text-decoration: none;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.logo {
    margin-right: 50px;
    padding: 5px 15px;
    text-decoration: none;
    color: lightgreen;
    background-color: rebeccapurple;
    font-weight: 700;
}

body {
    font-family: "Roboto", serif;
    font-size: 14px;
    line-height: 1.5;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}

.aside {
    background-color: lavender;
    padding: 10px 20px;
}

.post {
    padding-bottom: 20px;
}

.footer {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

section {
    background-color: lavender;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.link {
    display: block;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    padding: 8px 15px;
    margin-top: 8px;
}

h1+section {
    background-color: moccasin;
}

.results {
    display: flex;
    gap: 10px;
}

.ul {
    display: flex;
    gap: 30px;
}